*,*::before, *::after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}
h1 {
    text-align: center;
}
body {
    padding: 1rem;
    margin: 1rem;
    background: #B993D6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    

}
.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 3rem;
    border: 5px solid white;
    outline: none;
    background-color: rgba(255,255,255,.75);

}

.calculator-grid > button:hover {
    background-color: rgba(255,255,255,.9);

}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0,0,0,.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color:  rgba(255,255,255,.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color:  white;
    font-size: 2.5rem;
}