.blue {
    color: blue;
}

h1 {
    color: olivedrab;
}
h1 {
    color: fuschia;
}

body {
    color: red;
    background-color: rgb(217, 240, 243);
    background-image: url("images/people3.jpg");
    background-attachment: fixed;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
}

.box {
    height: 100px;
    width: 70%;
    margin: 20px;
    padding: 50px;
    border: 10px solid blue;
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
div {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }